<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mobilecrowdsourceStudy.nctu">
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.google.android.providers.gsf.permisson.READ_GSERVICES" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>


    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hand_shake_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hand_shake_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".minuku_2.MainActivity"
            android:launchMode="singleInstance"
            android:persistent="true">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>
        <activity
            android:name=".minuku_2.questions.QuestionActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".minuku_2.controller.study"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".minuku_2.questions.AnswersActivity"
            android:screenOrientation="portrait">
        </activity>
        <receiver
            android:name=".minuku_2.receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="labelingStudy.nctu.minuku.receiver.AlarmReceiver"
                  android:enabled="true"
            android:exported="true">

        </receiver>
        <receiver
            android:name=".minuku_2.receiver.RestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="checkService"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".minuku_2.NetworkStateChecker">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="labelingStudy.nctu.minuku.receiver.StopRecordingReceiver"
            android:enabled="true"
            android:exported="true">

        </receiver>
        <service
            android:name=".minuku_2.service.BackgroundService"
            android:enabled="true"
            android:exported="true" />
        <!--<service-->
            <!--android:name="labelingStudy.nctu.minuku.service.AlarmHelper"-->
            <!--android:enabled="true"-->
            <!--android:exported="true"></service>-->

        <service
            android:name="labelingStudy.nctu.minuku.service.NotificationListenService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">

            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name="labelingStudy.nctu.minuku.service.FloatingActionButtonService"
            android:enabled="true"
            android:exported="true"></service>
        <activity
            android:name="labelingStudy.nctu.minuku.service.BackgroundScreeenRecorderActivity"
            android:enabled="true"
            android:exported="true">
        </activity>

        <activity
            android:name=".minuku_2.controller.VideoResult"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".minuku_2.controller.stopRecording"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".minuku_2.controller.Dispatch"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>



        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d30b1f517e748114403a118f6512d4559456155a" />
    </application>
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />










</manifest>